table {
    width: 80%;
    margin-left:10%;
    margin-right: 10%;
    margin-top: 1%;
  }
  h1{ width: 100%;
    text-align-last: center;
  }
  .cero{
    width: 80%;
    margin-left:10%;
    margin-right: 10%;
  }
  .margen{padding-left: 5%;

  }