
table{
  width: 100%;
}
th{
  font-size: 1.1vw;
  padding-bottom: 2%;
  color: rgb(76, 79, 80);
  text-align: left;
}
td{
   font-size: 1.1vw;
   text-align: left;
}
h1{
  width: 100%;
  text-align: center;
  color: rgb(34, 172, 218);
  font-size:2.1vw; 
}

.rojo{
  width: 100%;
  text-align: center;
  color: rgb(218, 34, 34);
  font-size:2.1vw;  width: 100%;
}
.buton_registro{
  width: 90%;
  height: 50px;
  margin-top: 1%;
  margin-left: 5%;
  background-color:white;
  font-size: 2.2vw;
  font-weight: bold;
}

.example-card{
  width: 100%;
  margin: 1%;
  

}
.buton1{
  width: 80%;
  margin-top: 1%;
  margin-left: 2%;
  background-color:white;
  color: rgb(34, 172, 218);
}
.buton2{
  width: 80%;
  margin-top: 1%;
  margin-left: 2%;
  background-color:white;
  color: rgb(240, 51, 17);

}
.ok{
  margin-left: 45%;
  margin-top: 6px;
}
.example-form {
  min-width: 150px;
  max-width: 90%;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.div{align-content: center;
  margin: 10%;

}

h2{width: 100%;
  text-align: center;
  color: darkgrey;

}

.formActualizar{
  width: 100%;
}
.volver{
  margin-left: 50%;
  margin-top: 2%;
}
.border{
  margin-right: 5%;
}
form{
  margin-left: 2%;
}
.imagen{
  height:55vh;
  margin-top: 1vh;
}