<!--
<mat-list role="list" *ngIf="afiliado | async as afiliado">
    <mat-list-item role="listitem">Numero Afiliado: {{afiliado.id}}</mat-list-item>
    <mat-list-item role="listitem">Nombre: {{afiliado.nombre}}</mat-list-item>
    <mat-list-item role="listitem">Apellidos: {{afiliado.apellidos}}</mat-list-item>
    <mat-list-item role="listitem">Profesión: {{afiliado.profesion}}</mat-list-item>
    <mat-list-item role="listitem">Ideología: {{afiliado.ideologia}}</mat-list-item>
    <mat-list-item role="listitem">sexo: {{afiliado.sexo}}</mat-list-item>
    <mat-list-item role="listitem">Cuota: {{afiliado.cuota}}</mat-list-item>
    <mat-list-item role="listitem">Cargo: {{afiliado.status}}</mat-list-item>
  </mat-list>

  <button mat-flat-button color="warn" (click)="atras()">Atrás</button>
  <button mat-button (click)="atras()" >Atrás</button>
-->


    <mat-card class="example-card">
     
        <h1 [hidden]="hideUpdate" >Detalle de afiliado al partido</h1> 
        <h1 class="rojo" [hidden]="hideMostrar" >Este afiliado se acaba de eliminar</h1> 
    </mat-card>
  

      <mat-card class="example-card">
       
          <table  *ngIf="afiliado | async as afiliado" border="0.2" > 
          
            <tr>
              <th>Nombre</th>
              <th>Apellidos</th>
              <th>Profesión</th>
              <th>Ideología</th>
              <th>Edad</th>
              <th>Trato</th>
              <th>Cuota</th>
              <th>Status</th>
              <th></th>
              <th></th>
            </tr>
     
      
            <tr> 
              <td>{{afiliado.nombre}}</td>
              <td>{{afiliado.apellidos}}</td>
              <td>{{afiliado.profesion}}</td>
              <td>{{afiliado.ideologia}}</td>
              <td>{{afiliado.edad}}</td>
              <td>{{afiliado.tratamiento}}</td>
              <td>{{afiliado.cuota}}</td>
              <td>{{afiliado.status}}</td>
              <td>
                <button  [hidden]="hideUpdate" class="buton1" (click)="editarAfiliado(); " >
                     <mat-icon> edit</mat-icon>
                </button>
              </td>
              <td>
                <button  [hidden]="hideUpdate" class="buton2" (click)="deleteAfiliado(afiliado)" >
                   <mat-icon> delete_sweep</mat-icon>
                </button>
              </td>
            </tr>
          </table>

       </mat-card> 

      
   <div class="ok" [hidden]="hideMostrar"><button  mat-raised-button color="primary" [routerLink]="['/afiliados']">VOLVER</button>  </div>
      <!--
       <button  class="anular" mat-raised-button color="red" [routerLink]="['/registro', afiliado]"(click)="altaAfiliado(afiliado);">ANULAR</button>
       <div  [hidden]="hideUpdate">button
       <app-afiliados></app-afiliados>
       </div>
      -->       



   
   
      