


        
        <div class="cuadro">
            <div class="text">
                 <p>  
                     D/Dñª {{afiliado.nombre}} {{afiliado.apellidos}}----------
                 </p>
                 <p>
                    Jaén, {{today |date: 'dd/MM/yyyy'}}  
                 </p>
            </div>
         
        </div> 
        
      <mat-card>  
        
          <input type="button" value="DESCARGUE AQUI SU CARNET DE AFILIADO AL PARTIDO DE VAGOS Y DE ASPIRANTE A CARGOS" (click)="captureScreen()"/>  
        
      </mat-card>  
  