@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.uno {float: left;
    width: 100%;

}
.dos {float: left;
    width: 70%;

}
.tres {float: left;
    width: 30%;
    margin-top: 1%;

}

.example-card{
    margin-left:1%;
}