@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.uno {float: left;
    width: 100vw;

}
.dos {float: left;
    width: 70%;
    height: 100vh;
}
.tres {float: left;
    width: 30%;
    height:100vh ;
    
}

.example-card{
    padding-left:2vw;
}