
<div [hidden]="hideRegistro" class="divide" >
  <mat-card class="example-card">
     <h1>Partido de Vagos de España</h1> 
     <h2>Documento de Afiliación</h2>
  </mat-card>
  <mat-card class="example-card"> 
 <form class="example-form">

   <mat-form-field class="example-full-width">
      <input matInput  type="text" placeholder="Dni" name="nombre" [(ngModel)]='afiliado.dni' required>
   </mat-form-field> 

   <mat-form-field class="example-full-width">
       <input matInput  type="text" placeholder="Nombre" name="nombre" [(ngModel)]='afiliado.nombre' >
   </mat-form-field>
   <mat-form-field class="example-full-width">
     <input matInput  type="text" placeholder="Apellidos" name="apellidos" [(ngModel)]='afiliado.apellidos'>
   </mat-form-field>
   <mat-form-field class="example-full-width">
       <input matInput  type="text" placeholder="Edad" name="edad" [(ngModel)]='afiliado.edad'>
   </mat-form-field>

   <mat-form-field class="example-full-width">
       <input matInput  type="text" placeholder="Profesión" name="profesion" [(ngModel)]='afiliado.profesion' >
   </mat-form-field>

   <mat-form-field class="example-full-width">
       <input matInput  type="text" placeholder="Ideología" name="ideologia" [(ngModel)]='afiliado.ideologia'>
     </mat-form-field>

     <mat-radio-group name="tratamiento" [(ngModel)]='afiliado.tratamiento'>
        <mat-radio-button *ngFor="let sex of tipoSexo" name="opciones" [value]="sex"  style="margin: 10px">
        {{sex}}
        </mat-radio-button>
      </mat-radio-group>
    <p>{{afiliado.sexo}}</p>
   <mat-form-field class="example-full-width">
     <input matInput placeholder="Indique su cuota mensual" name='cuota' [(ngModel)]='afiliado.cuota' required>
   </mat-form-field>

<mat-form-field>
    <mat-select placeholder="Cargo que le gustaría ocupar" [(ngModel)]='afiliado.status' name="cargo" required>
      <mat-option *ngFor="let op of cargos" [value]="op.valor">
        {{op.valor}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
      <input matInput  type="text" placeholder="Email" name="email" [(ngModel)]='afiliado.email'>
  </mat-form-field>

  <mat-form-field class="example-full-width">
      <input matInput  type="text" placeholder="Pass" name="pas" [(ngModel)]='afiliado.pass' required>
  </mat-form-field>

 </form>



 <button class="buton_enviar" (click)="altaAfiliado(afiliado);"  *ngIf="afiliado.dni && afiliado.status && afiliado.cuota && afiliado.pass; else desactivado"  >ENVIAR</button>
<ng-template #desactivado>
  <button  class="buton_enviar"
  disabled>ENVIAR</button>
 </ng-template>
 


 <button class="buton_volver" mat-raised-button
         matTooltip="Info about the action"
         aria-label="Button that displays a tooltip when focused or hovered over"  [routerLink]="['/afiliados']">
         <mat-icon class="icon"> reply </mat-icon>
 </button>
 </mat-card>
 </div>

 <!--
 <button mat-raised-button 
         matTooltip="Info about the action"
         aria-label="Button that displays a tooltip when focused or hovered over" (click)="altaAfiliado(afiliado);"  [routerLink]="['/carnet', afiliado.id]">
   ENVIAR
 </button>


<div [hidden]="hideCarnet">
  <app-carnetpdf [aviso]="valorPadre"></app-carnetpdf>
</div>
-->
 <div [hidden]="hideCarnet" class="divide">
      <app-carnetpdf></app-carnetpdf>
 </div>
